<h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <label>Name: <input type="text" name="username"></label>
    <br>
    <label>Password: <input type="text" name="password"></label>
    <br>

    <input type="submit" value="submit">
</form>
