<nav>
  <a href="/logout">Logout</a>
</nav>

<h1> Hello, <%= @user.username %>!</h1>

<h3> Your current gift recipients:</h3>

<% @current_user.recipients.each do |recipient| %>
  <h3><%= recipient.name %></h3>
  <% end %>


<h4><a href="/recipient">Make Changes</a></h4>
