<h1>Edit <%= @recipient.name %></h1>

<form action="/recipient/<%=@recipient.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Recipient Name: </label>
  <input type="text" name="name" value="<%=@recipient.name %>">
  <br>

  <label> Gift Ideas: </label>
  <input type="text" name="gifts" value="<%=@recipient.gifts %>">
  <br>

  <input type="submit" value="Update">
</form>
