<h1>Add a Gift Recipient</h1>

<form action="/recipients" method="POST">
  <label> Recipient Name </label>
  <input type="text" name="name"> <br>

  <label> Gift </label>
  <input type="text" name="gift"> <br>

  <input type="submit" value="Create">
</form>
