<h3>Add a Gift Recipient & Gift Ideas</h3>

<form action="/recipients" method="POST">
  <label for="name"> Recipient Name: </label>
  <input type="text" id="name" name="name"/> <br>

  <label for="gifts"> Gift Ideas: </label>
  <input type="text" id="gifts" name="gifts"/> <br>

  <input type="submit" value="Add">
</form>
