<h1><%= @recipient.name %></h1><br>

<h3>Gifts</h3>
<ul>
<% @recipient.gifts.each do |gift| %>
  <li><a href="//<%=gifts.id%>"><%= gift.name %></a></li>
<% end%>
</ul>
<a href="/recipients/<%=@recipient.id%>/edit">Edit</a>
<br>
