<h3>Gift Recipient: </h3>

<p><%= @recipient.name %></p><br>

<h3>Gifts Ideas:</h3>
<p><%= @recipient.gifts%> </p>

<form method="POST" action="/recipient/<%=@recipient.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Gift Recipient" />
</form>
