<nav>
  <a href="/logout">Logout</a>
</nav>

<h3>Add a Gift Recipient & Gift Ideas</h3>

<form action="/recipient" method="POST">
  <fieldset>
    <legend>Gift Recipient:</legend>
    Name:<br>
    <input type="text" id="name" name="name"/><br>
    Gift Ideas:<br>
    <input type="text" id="gifts" name="gifts"/> <br>
</fieldset>
<br>
  <input type="submit" value="Add">
</form>
