<h2>Welcome to Gift Lister!</h2>
<p> A place where you can keep track of gift ideas for special people in your life. </p>

<body>
    <h4><a href="/signup">Sign Up</a></h4>
    <h4><a href="/login"> Log In </a></h4>
</body>
