<!doctype html>
<html>
    <title><h1>Gift Lister</h1></title>

    <div style="background-color:DarkTurquoise">
    <head><h2>Gift Lister</h2></head>
    </div>
  <body>
    <%= yield %>
  </body>

</html>
