<!doctype html>
<html>
  <head>
    <title>Gift Lister</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>

        <a href="/recipients/new"> Create Gift Recipient </a>
            <a href="/logout"> Log Out </a>
            <p>Welcome, <%=current_user.username %></p>

          <% else %>
            <a href="/signup">Sign Up</a>
            <a href="/login"> Sign In </a>
          <%end %>

        </nav>

        <div class="container">
          <h1>Gift Lister</h1>
          <% if !@error_message.nil? %>
          <div class="alert alert-warning">
            <%= @error_message %>
          </div>
        <% end %>
          <%= yield %>
        </div>

    </body>
</html>
